body {
    margin: 0;
    max-height: 100%;
    overflow: hidden;
}

#main-container, #sky-background, #floor-background, #nubesA, #nubesB{
    width: 100%;
}

#canvas{
    width:100vw;
    height:100vh;

    position:absolute;
    top:0;
    left:0;
    z-index: 1;

    image-rendering:pixelated;
}


/*---------------------MENU------------------------------------*/
li{
    list-style: none;
}

#menu{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
        ". . title"
        ". . description"
        "buttons . .";

    background-image: url("assets/img/fondo/foto1.png");
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    

    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    text-align: center;
}

.title{
    font-size: 50px;
    margin-top: 0.5em;
    grid-area: title;
    gap: 0px;
    margin-right: 150px;
}

.title h1{
    background: linear-gradient(
        to bottom,
        #ffffff,
        #ffe066,
        #ff9900,
        #ff5e00
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 4px #7a2d00;
}











/* ------------- FONDO ------------------------*/

#sky-background {
    width: 100%;
    height: 90%;

    position: absolute;
    top: 0;
    left: 0;

    background: url("assets/img/background/Clouds1/1.png") repeat-x;
    background-size: 1280px 100%;

    animation: cielo 150s linear infinite;
}

#nubesA {
    width: 100%;
    height: 90%;

    position: absolute;
    top: 0;
    left: 0;

    background: url("assets/img/background/Clouds1/2.png") repeat-x;
    background-size: 1280px auto;

    animation: clouds 150s linear infinite;

}

#nubesB{
    width: 100%;
    height: 90%;

    position: absolute;
    top: 0;
    left: 0;

    background: url("assets/img/background/Clouds1/4.png") repeat-x;
    background-size: 1280px auto;

    animation: clouds 100s linear infinite;

}
#platforms{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.platform {
    width: 32px;
    height: 32px;

    background-image: url("assets/img/tiles/tiles2.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    image-rendering: pixelated;
}
     

@keyframes cielo {

    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1280px;
    }
}

@keyframes clouds {

    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1280px;
    }
}


/*-------------- PERSONAJE ----------------------*/

#player{
    width:54px;
    height:26px;

    position:absolute;
    left:100px;
    overflow: hidden;

    background-image:url("assets/img/character/cane.png");
    background-repeat:no-repeat;

    transform:scale(4) translateY(6px);
    transform-origin:top left;
    z-index: 3;

    image-rendering:pixelated;

}

.inactive{
    display:none;
}

.idle{
    animation:idle 0.5s steps(2) infinite;
}

.walking{
    animation: walk 0.6s steps(4) infinite;
}

.running{
    animation: run 1s steps(4) infinite;
}

.jump-up{
    background-position: 0px -64px;
}


.jump-down{
    background-position: 0px -96px;
}

.hit{
    animation: hit 0.5s steps(5) 1;
}

@keyframes idle{

    0%{
        background-position-x:0px;
    }

    100%{
        background-position-x:-108px;
    }

}

@keyframes walk{
    0%{
        background-position-x:0px;
    }

    100%{
        background-position-x: -216px;
    }

}

@keyframes run {
    0%{
        background-position: 0px -32px;
    }

    100%{
        
        background-position: -216px -32px;

    }
}

@keyframes hit {
    0%{
        background-position: 0px -128px;
    }

    100%{
        background-position: -216px -128px;
    }
}

/*-------------- ENEMIGO ----------------------*/

.dogEnemy{
    width: 48px;
    height: 48px;
    position: absolute;

    background-image: url("assets/img/Walk.png");

    transform: scale(4);
    z-index: 2;

    animation: dogEnemy 1s steps(6) infinite;

}

@keyframes dogEnemy {
    0%{
        background-position: 0px 0px;
    }

    100%{
        background-position: -288px 0px;
    }
    
}


/*-------------PREMIO--------------------------*/

.chicken{
    width: 48px;
    height: 48px;
    position: absolute;

    background-image: url("assets/img/chicken-idle.png");

    transform: scale(2);

    animation: chicken 1s steps(2) infinite;
}

@keyframes chicken {
    0%{
        background-position: 0px;
    }

    100%{
        background-position: 98px;
    }
}
